.selector-de-profesores {
    margin-bottom: 20px;
  }

.landing-page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 30px;
}

.green {
  background-color: #00AB55;
  color: #fff;
}

.section-separate {
  margin-bottom: 40px;
}

.image-override img {
  width: 500px;
  height: 500px;
}

.image-override {
  max-width: 500px;
  font-weight: 700;
}

.row {
  width: 100%;
}

.form-container {
  margin: 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.basic-separator {
  margin-bottom: 20px;
  margin-left: 20px;
}

.form-button {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.form-button button {
  width: 160px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}

